{{ define "main" }}
  <div class="m-auto max-w-2xl">
    <div class="grid grid-cols-1">
      <main class="col-span-1">
        <article class="markdown prose w-full max-w-none pb-4">
          {{ .Content }}
        </article>
        {{ range .Site.Sections }}
          <div class="pb-4">
            <h2 class="pb-2 text-2xl">{{ .Title }}</h2>
            <ul class="list-inside list-disc pl-2">
              {{ range .Pages }}
                <li><a class="underline" href="{{ .RelPermalink }}">{{ .Title }}</a></li>
              {{ end }}
            </ul>
          </div>
        {{ end }}
      </main>
    </div>
  </div>
{{ end }}
